<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div >
      <input type="text" id="input">
      <input type="text" id="input2">
      <button onclick="Append()">Request data</button>

      <p id="2"></p>
    </div>

  <p id="demo"></p>
    <script>
        var socket  = io.connect('http://81.183.46.245:3000');

        function Append() {
            var x=document.getElementById('input').value;
            var y=document.getElementById('input2').value;
            var data={
                a:x,
                b:y
            }

            socket.emit('shoot',data)
        };

        socket.on('shootres',function (data) {
            if(data.hiba){
                document.getElementById('2').innerHTML=data.hiba;
            }else{
                document.getElementById('2').innerHTML="talalat: "+data.talalat+"  süllyedt: "+data.sink;
            }

        });
        socket.on('hiba',function (data) {
              window.location=data.url;
        });

    </script>
  </body>
</html>
